* {
  margin: 0;
  padding: 0;
  
}

html,
body {
  height: 120%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*{box-sizing:border-box;margin:0;padding:0;}
@font-face{
    font-family:alarm;
    src:url(alarm.ttf);
}

.timer {
  text-align: right;
  margin-bottom: -30px;
}

#hms {
  color: rgb(154, 78, 253);
  font: inherit;
  font-size:  22px;
}



#container {
  display: flex;
  background-color: rgb(25, 1, 51);
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width:450px;
  max-width: 90%; /* Como minimo hay ese % en la pantalla (si haces mas pequeña la pantaña)*/
  height: 400px;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.help {
  text-align: right;
  
}

.help button {
  font: inherit;
  border: 0;
  background-color: rgb(25, 1, 51);
  color: rgb(154, 78, 253);
  font-size: 20px;
  font-weight: bold;

}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}


.title {
  color: rgb(204, 145, 255);
  font-size: 2rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  margin-bottom: -20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#goal {
  color:rgb(204, 145, 255);
  font-size: 3rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  right: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.new-game {

  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

}
.number-row button.new-game {
  background-color: rgb(73, 32, 100);
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 0%;
  margin: 0%;
}



.number-row button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#board {
  max-width: 110%;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}

.square {
  border: 2px solid rgb(154, 78, 253);
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  border-color: rgb(204, 145, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#number-container {
  max-width: 80%;
}

.number-row {
  min-width: 20%;
  display:flex;
  justify-content: center;
  width: 100%;
  touch-action: manipulation;
}
.number-row button {
  font-family: inherit;
  font-weight: bold;
  font-size: 30px;
  border: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius:8%;
  background-color: rgb(204, 145, 255);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin: 3px;
  user-select: none;

}

.number-row button.wide-button {
  flex-grow: 1.5;
}

.number-row button.wide-button-enter {
  background-color: rgb(154, 78, 253);
}

.number-row button.wide-button-delete {
  background-color: rgb(154, 78, 253);
}


.number-row button.op-row {
  background-color: rgb(154, 78, 253);
}

.solutions {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.spacer-half {
  flex-grow: 0.5;
}
